.animat-log1{
    position: relative;
    top: -30px;
    left: 1300px;
    width: 200px;

}
.bata1{
    background-color:  rgb(115, 100, 128);
    position: relative;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    left: -5px;
    font-size: 1em;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, transform 0.2s ease-in-out;
    
  }
  .bata1:hover{
    background-color: rgb(241, 196, 230);
    color: black;
    transform: translate(2px, -2px);
  }